*{
    margin: 0;
}
#navbar{
    width: 100%;
    /* border: 1px solid black; */
    display:flex;
    /* padding:10px 0px 10px 0px; */
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#navbar>div:first-child{
    width: 8%;
    padding:15px 0px 10px 15px;
    /* border: 1px solid red; */
}
#navbar>div:first-child>a>img{
    width: 100%;
}
#navbar>div:nth-child(2){
    display:flex;
    width: 70%;
    padding: 15px;
    font-size: 23px;
    justify-content:space-evenly;
    /* border: 1px solid blue; */
}
#navbar>div>a{
    text-decoration: none;
    color: black;
}
#navbar>div:last-child{
    display:flex;
    width: 22%;
    padding: 15px;
    font-size: 23px;
    justify-content:space-evenly;
    /* border: 1px solid green; */
}

#details,#enrol{
    width:83%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
}
#logout{
    border: 1px solid #ccc;
    width:100px;
    border-radius:4px;
    background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    color: #fff;
    font-size:17px;
    padding:12px;
}
#userDetails{
    width: 83%;
    margin: auto;
    margin-top:20px;
    background-color: #f8f8f8;
    padding:20px;
    border-radius:8px;  
}
#userDetails>div{
    display: flex;
    justify-content:space-evenly;
}
#userDetails>div>p{
    font-size: 20px;
    
}
#displayPurchased{
    width:83%;
    margin: auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap: 20px;
    /* border: 1px solid black; */
    margin-top: 20px;
    background-color: #f8f8f8;
    padding:20px;
    border-radius:8px;
}
#displayPurchased>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius:5px;
    padding-bottom: 10px;
}
#displayPurchased>div>img{
    width: 100%;
    height:200px;
    border-radius: 5px 5px 0px 0px;
}